body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(205, 249, 249);
}

.recipe {
    background-color: white;
    max-width: 800px;
    margin: 10px auto;
    padding: 25px 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
}


.title {
    text-align: center;
}

.image {
    box-shadow: none;
}


li {
    margin: 10px;
    padding: 10px;
}

